{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Trades {% endblock %}</h1>
    <hr>
    {% for trade in trade_list %}
        <h2> {{ trade['instrument'] }} </h2>
        <p> {{ trade['stoploss'] }} </p>
        <p> {{ trade['product'] }} </p>
        <p> {{ trade['expiry'] }} </p>
        <p> {{ trade['lots'] }} </p>
        <p>Status: <span id={{trade['task_id']}}></span></p>
        <hr>
    {% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM content loaded");
        console.log({{ trade_list|tojson }});
        for (const trade of {{ trade_list|tojson }}) {
            document.getElementById(trade.task_id).innerHTML = trade.status;
        }
        const poll = () => {
            for (const trade of {{ trade_list|tojson }}) {
                document.getElementById(trade.task_id).innerHTML = "FAILURE";
            }
            setTimeout(poll, 1000);
        }
        poll();
    });
</script>
{% endblock %}

